// @import 'home';
// @import 'colors';
// @import 'explore'; Not compiling partials, check gulpfile


$bg-color: darkgrey;
$font-color: white;
$primary-color: green;
$dark-overlay: rgba(8, 55, 77, 0.596);
$icon-size: 0.9em;

// Main Sass File

body {
    background-color: $bg-color;
    color: $font-color;
}

.navbar {
    background-color: $primary-color;
    color: white;
    
}
footer {
    background-color: #333;
}
#explore-section, #share-section {
    .fa {
        color: white;
        background: #333;
        padding: 0.9em;
        border-radius: 0.2em;
        font-size: $icon-size;
    }
}

#explore-head-section, #share-head-section {
    background-color: #333;
}


#connect-head-section {
    background: 
          /* top, transparent red, faked with gradient */ 
          linear-gradient(
            rgba(8, 55, 77, 0.726), 
            rgba(3, 21, 59, 0.63)
          ),
          /* bottom, image */
          url("../img/pexels-photo-1092671.jpeg") no-repeat;
          background-size: cover;
          background-attachment: fixed;
          min-height:20em;
      }

  
#home-section {
    background: url("../img/pexels-photo-1530313.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height:40em;

    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 40em;
    }

    .card-form {
        opacity: 0.8;
        background-color: $primary-color;
        border: none;
        line-height: 1.5em;
        margin-top: 3em;
    }

    .fa {
        color: $primary-color;
        background: white;
        padding: 0.5em;
        border-radius: 0.5em;
        font-size: $icon-size;

    }
}

#connect-head-section > div > div > div:nth-child(1) > ul {
    color: #fff;
    margin-bottom: 3em;

}

h1 {
    padding: 0.8em;
}